<a href="https://colab.research.google.com/github/irynadunets/ADV_block/blob/master/PythonExercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a program to add the two numbers 9 and 13.

In [1]:
#Write program here
9 + 13

22

1B. Write a python program to multiply the two numbers 4 and 5.

In [2]:
#Write program here
4 * 5

20

1C. Write a program that calculates the annual salary of an employee after it increases by 10%. (Initial annual salary £42,000)

In [7]:
#Write program here
def annual_salary(initial_salary):
  print(int(initial_salary * 1.1),'£')
annual_salary(42000)

46200 £

2A. Write a python program that finds the volume of a cuboid with length 2m, width 3m and height 5m.

In [10]:
#Write program here
def volume(length, width, height):
  print(width * height * length,'m3')
volume(2, 3, 5)

30 m3

2B. Write a program that finds the area of a circle that has a radius of 4m. (You can take pi as being 3.14)

In [11]:
#Write program here
def area(radius):
  print(radius * radius * 3.14,'m2')
area(4)

50.24 m2

2C. Write a program that finds the volume of a cone of radius 2m and height 5m. (You can take pi as being 3.14)

In [13]:
#Write program here
def volume(radius, height):
  print(round(radius * height * 3.14/ 3, 2) ,'m3')
volume(2, 5)

10.47 m3

2D. Write a python program that uses a loop to find the factorial of 5.

In [17]:
#Write program here
def factorial(n):
  fact = 1
  for x in range(1,6):
    fact = fact * x
  print(fact)

factorial(5)

120