<a href="https://colab.research.google.com/github/irynadunets/ADV_block/blob/master/PythonExercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a Python program to sum all the items in a list.

In [46]:
#Write program here
list = [3,4,7,2,8,9]
print(sum(list))

33

1B. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [47]:
#Write program here
list = ['ffg','i','w','abba','l','gh','maam']
count = 0
for x in list:
  if len(x) > 1 and x[0] == x[-1]:
    count = count + 1
print(count)

2

1C. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [53]:
#Write program here
tuples_list = [(1, 5), (3, 2), (8, 10), (6, 4)]
print(sorted(tuples_list, key=lambda x: (x[-1])))

[(3, 2), (6, 4), (1, 5), (8, 10)]

2A. Write a Python program to remove duplicates from a list.

In [57]:
#Write program here
list1 = [1,4,7,9,2,1,4]
print(set(list1))

{1, 2, 4, 7, 9}

2B. Write a Python function that takes two lists and returns True if they have at least one common member.

In [60]:
#Write program here
list1 = [1,7,8,9,2]
list2 = [1,7,8,4,3]
set(list1) != set(list2)

True

2C. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [62]:
#Write program here
list1 = [1,7,8,9,2]
for x in list1:
  if x % 2 == 0:
     list1.remove(x)
print(list1)

[1, 7, 9]

3A. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [66]:
#Write program here

list1 = [x*x for x in range(1, 5)]
list2 = [x*x for x in range(26, 30)]
print(list1 + list2)

[1, 4, 9, 16, 676, 729, 784, 841]

3B. Write a Python program to get the difference between the two lists.

In [45]:
#Write program here
list1 = [1,7,8,9,2]
list2 = [1,7,8,4,3]
(set(list1) - set(list2)).union(set(list2) - set(list1))

{2, 3, 4, 9}

3C. Write a Python program to convert a list of characters into a string.

In [27]:
#Write program here
list = ['a', 'b', 'c', 'd']
string = ''.join(list)
print(string)

abcd

4A. Write a Python program to select an item randomly from a list.

In [24]:
#Write program here
from random import randint

list = [19,12,31,14,5]

print(list[randint(0, len(list) - 1 )])

31

4B.Write a Python program to find the second largest number in a list.

In [11]:
#Write program here
list = [19,12,31,14,5]
sort = sorted(list, reverse = True)
print(sort[1])

19

5A. Write a Python program to count the number of elements in a list within a specified range.

In [8]:
#Write program here
list = [1,2,3,4,5]
total = 0
for x in range(1,4):
  total = total + x
print(total)

6

5B. Write a Python program to split a list into different variables.

In [7]:
#Write program here
list = ["apple", "banana", "cherry"]
x,y,z = list
print(x)

apple

6A. Merge the following dictionaries into one

In [6]:
from itertools import chain

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dictionary = dict(chain(dict1.items(),dict2.items()))
print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6B. Delete the set of keys from the following python dictionary

In [2]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}


keysToRemove = ["name", "salary"]

for x in keysToRemove:
  del sampleDict[x]

print(sampleDict)

{'age': 25, 'city': 'New york'}